/* popup */
#top {
    position:fixed; right:50px; bottom:50px;
    width:50px; height:50x;
    }
#top img {width:100%}
/* all layout */
header,
main .visual, 
main .service,
main .brn_bg .bnr,
main .board,
main .imformation,
main .news,
footer
{
    background-color: rgb(218, 228, 247);
    width:1152px; margin:0 auto;
}
/* header */
header {}
/* header-h top */
header #h_top {
    background-color: lightgoldenrodyellow;
    height: 48px;}
header #h_top .left {
    background-color: lightpink;
    float:left;
}
header #h_top .left h1 {
    background-color: aqua;
    float:left; padding-top:10px;
    width:110px; height:28px;}
header #h_top .left h1 a {}
header #h_top .left h1 a img {
    width:100%; /* 부모크기 따라가기 */
}
header #h_top .left nav {
    float:left;
}
header #h_top .left nav ul {}
header #h_top .left nav ul li {
    float:left;
    margin-left:20px;
}
header #h_top .left nav ul li a {
    line-height:48px;
    letter-spacing:-0.02em;
}
header #h_top .right {
    background-color: aquamarine;
    float:right;
}
header #h_top .right li {
    background-color: lightgreen;
    float:left;
    margin-left: 20px;
}
header #h_top .right li:nth-child(1) {margin-left:0;}
header #h_top .right  li a {
    line-height:48px;
    letter-spacing:-0.02em;
}
/* header-h btm */
header #h_btm {background-color: lightcoral;
    height: 119px;
}
header #h_btm h1 {background-color: aqua;
    float:left; width:150px; height:28px;
    margin-top:45.5px;
}
header #h_btm h1 a {}
header #h_btm h1 a img {width:100%}
header #h_btm #search_frm {background-color: wheat;
    float:left;
    width:369px; height:46px;
    border:2px solid #1e6cb3;
    padding:10px 20px 0 ;
    margin:36px 0 0 230px;


}
header #h_btm #search_frm fieldset {border:0;
} /* 가운데 선 없애줌 */
header #h_btm #search_frm fieldset legend {display:none;
    
}
header #h_btm #search_frm fieldset input {
    float:left;
    width:calc(100% - 20px);
}
header #h_btm #search_frm fieldset input::placeholder {
    letter-spacing:-0.02em; color:#1e6cb3;
}
header #h_btm #search_frm fieldset #search_btn {
    float:right;
    border:0; background:none;
    width:20px; height: 20px;
    cursor:pointer;
}
header #h_btm #search_frm fieldset #search_btn img {width:100%;}
header #h_btm .h_btm_r {background-color: darkgoldenrod;
    float:right; margin-top:18px;
}
header #h_btm .h_btm_r #langfrm {
    text-align: right;
}
header #h_btm .h_btm_r #langfrm fieldset {border:0;
}
header #h_btm .h_btm_r #langfrm fieldset legend {
    display:none;
}
header #h_btm .h_btm_r #langfrm fieldset select {
    font-size:0.813rem; letter-spacing: -0.02em;
    width:93px; padding:5px 0;
    border:1px solid #1e6cb3;
}
header #h_btm .h_btm_r #langfrm fieldset select option {

}
header #h_btm .h_btm_r #langfrm fieldset #lang_btn {
    background-color:#1e6cb3; color:#fff;
    width:29px; height:29px;
    border:0; cursor:pointer;
}
header #h_btm .h_btm_r .weather {
}
header #h_btm .h_btm_r .weather .current_weather {}
header #h_btm .h_btm_r .weather .current_weather em {
    font-size:2.063rem; font-weight: 500; letter-spacing:-0.02rm;
}
header #h_btm .h_btm_r .weather .current_dust {}
/* main */
main {}
/* main-1광고배너*/
main .visual {background-color:palegoldenrod;
overflow: hidden;}
main .visual .left {background-color:aliceblue;
    width:770px; height: 350px; 
    position:relative;/*  겹치는대상의 부모기준 */
    float:left;

}
main .visual .left img {

}
main .visual .left .close {
    letter-spacing:-0.02em; font-weight:500; padding:10px; border-radius:5px;
    background-color: #1e6cb3; color:#fff;
    position:absolute; /* 겹치는대상 */
right:10px; bottom:10px;}
main .visual .right {background-color: lightgreen;
width:360px; float:right
}
main .visual .right .covid {
    position:relative; display:block;/* 영역에서 크기인식됨 */
    width:360px; height:230px; margin-bottom: 10px;
}
main .visual .right .covid span {
    position:absolute;
}
main .visual .right .covid .date {
right:12px; top:23px;} 
main .visual .right .covid .data {
}
main .visual .right .covid .data1 {
    top:85px; left:80px;}
main .visual .right .covid .data2 {
    top:85px; right:87px; }
main .visual .right .covid .data3 {
    left:60px; bottom:57px;}
main .visual .right .covid .data4 {
    right:161px; bottom:57px;}
main .visual .right .covid .data5 {
    right:52px; bottom:57px;
}
main .visual .right .covid img {}
main .visual .right .traffic {
}
main .visual .right .traffic img {}
/* 주요서비스~새소식 제목 디자인 그룹 */
/* 정리후 */
main section .title {background-color: purple;}
main section .title h2 {}
main section .title .site {}
main section .title .more {}
/* 정리전 */
/* main .board .event .tltle {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .service .title {}
main .board .service .title h2 {}
main .imformation .title {}
main .imformation .title h2 {}
main .news .title {}
main .news .title h2 {}
main .service .title {}
main .service .title h2 {}
main .service .title .site  {} */


/* main-2주요서비스*/
main .service {}
main .service .title {}
main .service .title h2 {}
main .service .title .site  {}

main .service .contents {background-color: aquamarine;

}
main .service .contents a {background-color: lightgrey;


}
main .service .contents a img {

}
main .service .contents a span {

}
/* main-3배너*/
main .bnr_bg {}
main .bnr_bg .bnr {}
main .bnr_bg .bnr a {}
main .bnr_bg .bnr a img {}
/* main-4게시판*/
main .board {}
main .board .event {}
main .board .event .tltle {}
main .board .event .title h2 {}
main .board .event .title .more {}
main .board .event .contents {}
main .board .event .contents a {}
main .board .event .contents a .span {}
main .board .event .contents a .administarative {}
main .board .event .contents a .environment {}
main .board .event .contents a .welfare {}
main .board .event .contents a .house {}
main .board .event .contents a .culture {}
main .board .festival {}
main .board .festival .title {}
main .board .festival .title h2 {}
main .board .festival .title .more {}
main .board .festival .contents {}
main .board .festival .contents .a {}
main .board .festival .contents .span {}
main .board .festival .contents .environment {}
main .board .festival .contents .economy {}
main .board .festival .contents .culture {}
main .board .service {}
main .board .service .title {}
main .board .service .title h2 {}
main .board .contents {}
main .board .contents a {}
/* main-5분야정보*/
main .imformation {}
main .imformation .title {}
main .imformation .title h2 {}
main .imformation .contents {}
main .imformation .contents a {}
main .imformation .contents a img {}
main .imformation .contents a span {}
/* main-6새소식*/
main .news {}
main .news .title {}
main .news .title h2 {}
main .news .contents {}
main .news .contents a {}
main .news .contents a img {}
main .news .contents a span {}
/* footer=f top */
footer {}
footer .fnb {}
footer .fnb .fnb_left {}
footer .fnb .fnb_left a {}
footer .fnb .fnb_right {}
footer .fnb .fnb_right a {}
/* footer=f btm */
footer .btm {}
footer .btm .btm_left {}
footer .btm .btm_left p {}
footer .btm .btm_left p img {}
footer .btm .btm_left address {}
footer .btm .btm_left address a {}
footer .btm .btm_right {}
footer .btm .btm_right a {}
footer .btm .btm_right a img {} 