/* header */
header {
    background-color: rgb(253, 238, 236);
    width:1200px;
    margin:0 auto;

}
header h1 {background-color: rgb(255, 154, 154);
    float:left;
    posistion:relative;
    l
}
header h1 a {
    float:right;
}
header h1 a img {
    float:right;
}

/* header nav {} */
header nav {background-color:rgb(252, 127, 95);
padding:0 240px;}
header nav li {}
header nav li a {}
header .lnb {background-color:rgb(194, 30, 18);
    padding-top:39px;
    padding-rignt:20p x;
    float:right;
}

header .lnb ul {}
header .lnb ul li {}
header .lnb ul li a {}
/* main {} */
main {background-color:rgb(160, 175, 173);

}
main .breadcrumbs_bg {
    background-color:#f1f1f1;
border-bottom:1px solid #aaa;}
main .breadcrumbs_bg .breadcrumbs {background-color: orange
    padding:22px 20px 0 22px;
    float:right;
}
main .breadcrumbs_bg .breadcrumbs a {}
main .breadcrumbs_bg .breadcrumbs em {}
/* main .contents1  경영이념*/
main .contents1 {background-color: rgb(230, 233, 90);
    text-align:center;}
main .contents1 h1 {}
main .contents1 p {}
main .c2_bg {background-color:#f1f1f1;
    width:1200px;
    margin:0 auto;}
main .c2_bg .contents2 {
    padding:70px 0;
    text-align:center;
}
main .c2_bg .contents2 p {}
/* main .contents3 비전영역 */
main .content3 {background-color: rgb(177, 243, 255);
padding: 70px 0;
text-align:center;}
main .content3 h2 {
    padding-bottom:50px;
}
main .content3 p {
    
}
main .c4_bg {background-color:#f1f1f1;
    width:1200px;
    margin:0 auto;
    padding:70px 0;}
main .c4_bg .contents4 {
    text-align:center;

}
main .c4_bg .contents4 h2 {}
main .c4_bg .contents4 .box1 {
    width:250px; height:250px;
    text-align:center;

}
main .c4_bg .contents4 .box1 .box1_1 {background-color: #36b4e5;
    padding:113px 0;
    clear:both;
    border-radius:50%;
    }
main .c4_bg .contents4 .box1 .box1_2 {background-color: #fff;
    padding:113px 0;
    clear:both;
    border-radius:125px;
    }
main .c4_bg .contents4 .box1 .box1_3 {background-color: #f3c300;
    padding:113px 0;
    clear:both;
    border-radius:125px;
    }
    

main .c4_bg .contents4 .box3  {}
main .c4_bg .contents4 .box3 li {}
main .c4_bg .contents4 .box3 li h3 {}
main .c4_bg .contents4 .box3 li p {}
/* footer {} */
footer {background-color: rgb(255, 255, 255);
    width:1200px;
    margin:0 auto;
}
footer .f_top {background-color: rgb(131, 133, 131);}}
footer .f_top .f_left {}
footer .f_top .f_left li {}
footer .f_top .f_left li a {}
footer .f_top .f_right {}
footer .f_top .f_right li {}
footer .f_top .f_right li a {}
footer .f_btm  {background-color: rgb(37, 34, 34);
padding:70px 0;}
footer .f_btm .address {
    padding-bottom:50px;
}
footer .f_btm p {}